# VIM
*.ll
*~
*.swn
*.swp
*.swo
.*.marks

\#*
output
.*#
*.proof-cache
*.proof-cache.lock
*.proof-cache.tmp
*.phi-cache

doc/.obsidian
doc/Advertisement.md
result.csv
.idea
Isa_Mini/__pycache__/
Translator

IsaMini.egg-info
dist
/Agent/secret.sh
/doc/Docs/.obsidian
__pycache__
.vscode
.coverage
.claude
