# VIM
*.ll
*~
*.swn
*.swp
*.swo
.*.marks

\#*
output
.*#
*.proof-cache
*.phi-cache

doc/.obsidian
doc/Advertisement.md
result.csv
.idea
Isa_Mini/__pycache__/
Translator

IsaMini.egg-info
dist
/Agent/secret.sh
/doc/Docs/.obsidian
